@charset "utf-8";
/* CSS Document */

body  {
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  margin: 30px;
  background-image: url("page-bg.gif");
background-position:
  background-attachment: fixed;
  background-color: #F7F3DE;

}

header h1  {
 front-size: 400%;
 color: #7C1A00;
 padding: 40px;
 padding-left: 120px;
 background-image: url("header-image-1.gif")
 background-position: left top;
 background-repeat: no-repeat;
}
